# data source: https://docs.google.com/spreadsheet/ccc?key=0AtbqcVh3dkAqdG9BOHNCLVU1Tk9iS2ZNa2dwSjFjRkE#gid=0

SCRAPER_TARGETS = [
  {'municipality': "City of Ann Arbor, MI", 'endpoint': "a2gov.legistar.com"},
  {'municipality': "Alexandria, VA", 'endpoint': "alexandria.legistar.com"},
  {'municipality': "Baltimore City Hall", 'endpoint': "baltimore.legistar.com"},
  {'municipality': "City of Albuquerque, NM", 'endpoint': "cabq.legistar.com"},
  {'municipality': "City of Columbus, OH", 'endpoint': "columbus.legistar.com"},
  {'municipality': "Coral Gables, FL", 'endpoint': "coralgables.legistar.com"},
  {'municipality': "County of Miami Dade, FL", 'endpoint': "egov.ci.miami.fl.us/legistarweb/"},
  {'municipality': "City of Gainesville, FL", 'endpoint': "gainesville.legistar.com"},
  {'municipality': "Town of Groveport, OH", 'endpoint': "groveport.legistar.com"},
  {'municipality': "City of High Point, NC", 'endpoint': "highpoint.legistar.com"},
  {'municipality': "City of Jonesboro, AR", 'endpoint': "jonesboro.legistar.com"},
  {'municipality': "King County, WA", 'endpoint': "kingcounty.legistar.com"},
  {'municipality': "Lackawanna County, PA", 'endpoint': "lackawanna.legistar.com"},
  {'municipality': "Lake County, IL", 'endpoint': "lakecounty.legistar.com"},
  {'municipality': "City of New York, NY", 'endpoint': "legistar.council.nyc.gov"},
  {'municipality': "City of Racine, WI", 'endpoint': "legistar.racinenet.org"},
  {'municipality': "Village of Lombard, IL", 'endpoint': "legistar.villageoflombard.org"},
  {'municipality': "Lexington, KY", 'endpoint': "lexington.legistar.com"},
  {'municipality': "City of Long Beach, CA", 'endpoint': "longbeach.legistar.com"},
  {'municipality': "Los Alamos County, NM", 'endpoint': "losalamos.legistar.com"},
  {'municipality': "Maricopa, AZ", 'endpoint': "maricopa.legistar.com"},
  {'municipality': "City of Miami, FL", 'endpoint': "miami.legistar.com"},
  {'municipality': "City of Milwaukee, WI", 'endpoint': "milwaukee.legistar.com"},
  {'municipality': "Chicago Metropolitan Water Reclamation", 'endpoint': "mwrd.legistar.com"},
  {'municipality': "City of Newark, NJ", 'endpoint': "newark.legistar.com"},
  {'municipality': "City of Oakland, CA", 'endpoint': "oakland.legistar.com"},
  {'municipality': "Oakland Unified School District", 'endpoint': "ousd.legistar.com"},
  {'municipality': "City of Philadelphia, PA", 'endpoint': "phila.legistar.com"},
  {'municipality': "City of Pittsburgh, PA", 'endpoint': "pittsburgh.legistar.com"},
  {'municipality': "City of Powder Springs, GA", 'endpoint': "powd.legistar.com"},
  {'municipality': "City of Pembroke Pines, FL", 'endpoint': "ppines.legistar.com"},
  {'municipality': "City of Rochester Hills, MI", 'endpoint': "roch.legistar.com"},
  {'municipality': "City of Roswell, GA", 'endpoint': "roswell.legistar.com"},
  {'municipality': "Santa Barbara County, CA", 'endpoint': "santabarbara.legistar.com"},
  {'municipality': "Wellington, FL", 'endpoint': "wellington.legistar.com/"},
  {'municipality': "City of New Haven, CT", 'endpoint': "www.cityofnewhaven.com/aldermen/"},
  {'municipality': "City of Barrie, ONT", 'endpoint': "barrie.legistar.com"},
  {'municipality': "County of Brunswick, VA", 'endpoint': "brunswickcounty.legistar.com"},
  {'municipality': "City of Canton, GA", 'endpoint': "canton.legistar.com"},
  {'municipality': "Cherokee Nation Tribal Member", 'endpoint': "cherokee.legistar.com"},
  {'municipality': "City of Coral Gables", 'endpoint': "coralgables.legistar.com"},
  {'municipality': "County of Los Angeles, CA", 'endpoint': "css.legistar.com"},
  {'municipality': "County of El Dorado, CA", 'endpoint': "eldorado.legistar.com"},
  {'municipality': "City of Eustis, FL", 'endpoint': "eustis.legistar.com"},
  {'municipality': "City of Gahanna, OH", 'endpoint': "gahanna.legistar.com"},
  {'municipality': "City of Grand Prairie, TX", 'endpoint': "grandprairie.legistar.com"},
  {'municipality': "City of Gulfport, MS", 'endpoint': "gulfport.legistar.com"},
  {'municipality': "Harrison County, MS", 'endpoint': "harrisoncounty.legistar.com"},
  {'municipality': "County of Jackson, MO", 'endpoint': "jacksonco.legistar.com"},
  {'municipality': "City of Key West, FL", 'endpoint': "keywest.legistar.com"},
  {'municipality': "City of League City, TX", 'endpoint': "leaguecity.legistar.com"},
  {'municipality': "City of Longview: City Hall", 'endpoint': "longview.legistar.com"},
  {'municipality': "City of Madison", 'endpoint': "madison.legistar.com"},
  {'municipality': "City of Mansfield, TX", 'endpoint': "mansfield.legistar.com"},
  {'municipality': "City of Mckinney, TX", 'endpoint': "mckinney.legistar.com"},
  {'municipality': "City of Mesa, AZ", 'endpoint': "mesa.legistar.com"},
  {'municipality': "Milwaukee Metropolitan Swrg", 'endpoint': "milwaukee.legistar.com"},
  {'municipality': "City of Norman, OK", 'endpoint': "norman.legistar.com"},
  {'municipality': "City of Pflugerville, TX", 'endpoint': "pflugerville.legistar.com"},
  {'municipality': "City of Rock Hill, SC", 'endpoint': "rockhill.legistar.com"},
  {'municipality': "Sedgwick County, KS", 'endpoint': "sedgwickcounty.legistar.com"},
  {'municipality': "Seminole County, FL", 'endpoint': "seminolecounty.legistar.com"},
  {'municipality': "City and County of San Francisco, CA", 'endpoint': "sfgov.legistar.com"},
  {'municipality': "City of Sitka, AK", 'endpoint': "sitka.legistar.com"},
  {'municipality': "Parish of Saint Charles, LA", 'endpoint': "stcharles.legistar.com"},
  {'municipality': "St Paul, MN", 'endpoint': "stpaul.legistar.com/Calendar.aspx"},
  {'municipality': "City of Trophy Club, TX", 'endpoint': "trophyclub.legistar.com"},
  {'municipality': "City of Trotwood, OH", 'endpoint': "trotwood-oh.legistar.com"},
  {'municipality': "City of Wilmington, NC", 'endpoint': "wilmington.legistar.com"}
]
MONGO_HOST = 'mongodb://localhost:27017/ ' # 'mongodb://username:password@host:port/database'
MONGO_DATABASE = 'scraped_local_gov'